
body {
    font-family: Arial, sans-serif;
    margin: 05;
    padding: 05;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #09f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
}
